.gradle
build/
out/

*.iws
*.iml
*.ipr
*.db
*.p12
*.key
*.csr

### IntelliJ IDEA ###
.idea/libraries/
.idea/sonarlint/
.idea/modules/
.idea/*.xml
compose.yaml
gradle.properties

### Mac OS ###
.DS_Store
HELP.MD
