$--red-error: #e35448;
$--red-wrong-answer: #ff0000ff;
$--red-wrong-answer-background: #ff00007f;

$--green-success: #1b8751;
$--green-correct-answer: #008000ff;
$--green-correct-answer-background: #00ff00cc;
$--green-selected-answer-background: #0080007f;

$--yellow-warning: #f6bc32;
$--white: #ffffff;
$--dark: #00000025;
